:root {
  font-family: "Space Grotesk", "Avenir Next", "Futura", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #f7e6ff;
  background-color: #12041f;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --space-text: #f7e6ff;
  --color-black: #000000;
  --color-gray: #838e83;
  --color-white: #ffffff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #12041f;
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
